version: "3.8"

services:
  k6-1:
    image: grafana/k6:latest
    container_name: k6-1
    working_dir: /scripts
    volumes:
      - ./scripts:/scripts:ro
      - ./reports:/reports
    environment:
      K6_WEB_DASHBOARD: "true"
      K6_WEB_DASHBOARD_OPEN: "false"
      K6_WEB_DASHBOARD_EXPORT: "/reports/k6-1.html"
    command:
      [
        "run",
        "/scripts/test.js",
        "--execution-segment-sequence", "0,1/3,2/3,1",
        "--execution-segment", "0:1/3"
      ]

  k6-2:
    image: grafana/k6:latest
    container_name: k6-2
    working_dir: /scripts
    volumes:
      - ./scripts:/scripts:ro
      - ./reports:/reports
    environment:
      K6_WEB_DASHBOARD: "true"
      K6_WEB_DASHBOARD_OPEN: "false"
      K6_WEB_DASHBOARD_EXPORT: "/reports/k6-2.html"
    command:
      [
        "run",
        "/scripts/test.js",
        "--execution-segment-sequence", "0,1/3,2/3,1",
        "--execution-segment", "1/3:2/3"
      ]

  k6-3:
    image: grafana/k6:latest
    container_name: k6-3
    working_dir: /scripts
    volumes:
      - ./scripts:/scripts:ro
      - ./reports:/reports
    environment:
      K6_WEB_DASHBOARD: "true"
      K6_WEB_DASHBOARD_OPEN: "false"
      K6_WEB_DASHBOARD_EXPORT: "/reports/k6-3.html"
    command:
      [
        "run",
        "/scripts/test.js",
        "--execution-segment-sequence", "0,1/3,2/3,1",
        "--execution-segment", "2/3:1"
      ]
